@import 'config';
@import 'menu';

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 100;
  line-height: 1.5;
}

// Headings
h1, h2, h3, h4 {
  margin: 0;
  font-weight: 100;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem; // for the background of the h2
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: white;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  // height: 100%;
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-areas: 
  'bioimage bio' 
  'job1 job1' 
  'job2 job2'
  'job3 job3';

  .bio-image {
  grid-area: bioimage;
  margin: auto;
  border-radius: 50%;
  border: $secondary-color 3px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
    padding: 2rem;
    cursor: default;
  }
  .bio:hover {
    color: #fff;
    background-color: #202E3D;
    transition: 0.5s;
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 3rem;
    margin: 0 6rem;
    border-bottom: $secondary-color 5px solid;
    
    .title {
      img {
        width: 70px;
      }
      h3 {
        font-weight: 600;
        padding: 1rem 0;
        font-size: 1.4rem;
      }
      .duration {
        background-color: black;
        color: #fff;
        margin: 1.2rem 1.1rem;
        padding: 0.4rem 1.1rem;
      }
    }
    h4 {
      font-weight: 600;
      font-size: 1.4rem;
    }
  }

  .job:hover {
    background: #17212c;    
    transition: 1s;
  }

  .job-1 {
    grid-area: job1
  }
  .job-2 {
    grid-area: job2
  }
  .job-3 {
    grid-area: job3
  }

}

// Work/Projects
.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);
  .item {
    margin: 1rem;

    img {
      width: 100%;
      border: 3px #aeaeae solid;
      cursor: default;
  
      &:hover {
        opacity: 0.5;
        border-color: $secondary-color;
        @include easeOut;
      }
    }
    .project-info {
      width: 100%;
      background: #fff;
      color: #000;
    }
  }

}

// Contact Page
.boxes {
  display: flex;
  // display: grid;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;

  div {
    font-size: 1.2rem;
    border: 0;
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

// Button Styles
.btn {
  // display: inline-block;
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 10);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 40);
  color: #111;
}

#main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 10);
    color: set-text-color($primary-color);
    height: 60px;
}


@import 'mobile';
